.wrapper{
  width:1000px;
  height: 800px;
  background-color: #fff;
  margin:10px auto;
}

.date{
  color: #AFAFAF;
  font-weight: bold;
  margin-top:20px;
}
.title{
  font-size: 30px;
}
.price{
  
  
  font-size: 18px;
}