.checkbox{
  display:flex;
  p{
    margin-top:5px;
    margin-left: 5px;
  }
  color: #0373C5;
  font-size: 16px;
}
.myinput {
  height: 22px;
  width: 22px;
  &[type="checkbox"]:before {
    width: 20px;
    height: 20px;
  }
  &[type="checkbox"]:after {
    width: 16px;
    height: 16px;
  }
}