.wrapper{
  margin-left:109px;
}
.title{
  color:#AFAFAF;
  font-weight: bold;
  font-size:14px;
  margin-top:20px;
}
.myinput {
  height: 22px;
  width: 22px;
  &[type="checkbox"]:before {
    width: 20px;
    height: 20px;
  }
  &[type="checkbox"]:after {
    width: 16px;
    height: 16px;
  }
}
.checkbox{
  display:flex;
  p{
    margin-top:5px;
    margin-left: 5px;
  }
  color: #0373C5;
  font-size: 16px;
}
.select{
  width:325px;
  margin-bottom: 30px;
}
