.app{
  width:1440px;
  margin:0 auto;
}
.header{
  width: 80%;
  min-width:1140px;
  background-color: #032f72;
  color: #fff;
  height:61px;
  padding: 3px 10vw;
  
  p{
    margin:10px;
    font-size: 30px;
  }
}
